<hibernate-configuration>
    <session-factory>

        <!-- Configuración de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Mundial</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

		<!-- Mapear las clases -->
        <mapping class="pojos.Border"/>
        <mapping class="pojos.Continent"/>
        <mapping class="pojos.Country"/>
        <mapping class="pojos.Encompasses"/>
        <mapping class="pojos.IsMember"/>
        <mapping class="pojos.Language"/>
        <mapping class="pojos.Organization"/>
    </session-factory>
</hibernate-configuration>
