<hibernate-configuration>
    <session-factory>

        <!-- Configuración de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/NorthWind</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Mapear las clases -->
        <mapping class="pojos.Category"/>
        <mapping class="pojos.Customer"/>
        <mapping class="pojos.Employee"/>
        <mapping class="pojos.EmployeeTerritories"/>
        <mapping class="pojos.EmployeeTerritory"/>
        <mapping class="pojos.Order"/>
        <mapping class="pojos.OrderDetail"/>
        <mapping class="pojos.Product"/>
        <mapping class="pojos.Region"/>
        <mapping class="pojos.Shipper"/>
        <mapping class="pojos.Supplier"/>
        <mapping class="pojos.Territory"/>
    </session-factory>
</hibernate-configuration>
